body {
  background-color: #F5F5F5;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

.delivery {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.bestpizza {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #DD4A48;
  text-shadow: 2px 1px black;
  cursor: pointer;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.product {
  display: flex;
  flex-direction: column;
  width: 350px;
  padding: 40px;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.namefood {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
}

.description {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  height: 70px;
  padding: 10px;
}

.price {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  font-weight: bold;
}

.price-info {
  display: flex;
  justify-content: space-between;
}


.btnBasket {
    width: 150px;
    height: 40px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    background-color: #119489ec;
    color: #fff;
    border: none;
    cursor: pointer;
}

.margin {
  margin-top: 23px;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btnFood {
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin: 30px;
  background-color: #F5F5F5;
  cursor: pointer;
}

.delivery-info {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.delivery-block {
  width: 400px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}

.red {
  color: #DD4A48;
  text-shadow: 2px 1px black;
  font-size: 35px;
  font-weight: bold;
}

/* РЕЦЕПТЫ */

.header {
  color: #DD4A48;
  text-shadow: 1px 1px black;
  font-family: 'Source Sans Pro', sans-serif;
}

.container-recipes {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.recipes-block {
  display: flex;
  justify-content: center;
}

.recipes {
  width: 35%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}

.about {
  margin-top: 70px;
}

.nameRecipes {
  font-size: 30px;
  font-weight: bold;
  color: #DD4A48;
  text-shadow: 2px 1px black;
}

.bolder {
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  color: #119489ec;
  text-shadow: 1px 1px black;
}

span {
  display: flex;
  align-items: center;
}

.ingredients {
  background-color: #119489ec;
  color: #fff;
  padding: 20px;
}

.shomMorebtn {
  background: #F5F5F5;
  border: none;
  color: #DD4A48;
  text-shadow: 1px 1px black;
  font-size: 25px;
  cursor: pointer;
  margin-left: 10px;
}

/* АКЦИИ */

.container-discounts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discounts-block {
  display: flex;
}

.discounts-text {
  margin-left: 50px;
  width: 400px;
}

.discounts-header {
  color: #DD4A48;
  text-shadow: 1px 1px black;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
}

.left {
  margin: 20px;
}

.discounts-par {
  font-size: 20px;
  margin-top: 40px;
}


/* Адаптация */

@media all and (max-width: 800px) {
  .btnBasket {
    width: 130px;
    height: 30px;
    font-size: 20px;
  }

  .product {
    width: 320px;
    padding: 10px;
  }

  .imageFood {
    width: 300px;
  }

  .description {
    height: 90px;
  }

  .imageZone {
    width: 200px;
  }

  .red {
    text-shadow: 2px 1px black;
    font-size: 25px;
  }

  .recipes-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .recipes {
    width: 80%;
  }

  .position {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about {
    margin-top: 20px;
  }

  .header {
    font-size: 25px;
  }
}

@media all and (max-width: 500px) {
  .btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .btnFood {
    width: 130px;
    font-size: 20px;
    margin: 5px;
  }

  .navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    margin-bottom: 10px;
  }

  .bestpizza {
    font-size: 30px;
    width: 350px;
    text-align: center;
    margin-bottom: 15px;
  }
  
  .delivery {
    font-size: 15px;
    margin-left: 8px;
  }

  .btnBasket {
    width: 100px;
    height: 30px;
    font-size: 20px;
    margin-left: 40px;
  }

  .price {
    font-size: 20px;
  }

  .delivery-info {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  
  .red {
    text-align: center;
  }

  .imageZone {
    width: 100%;
  }

  .delivery-block {
    width: 350px;
    font-size: 20px;
    padding: 10px;
    text-align: justify;
  }

  .bannerHomePage {
    margin-bottom: 10px;
  }

  .description {
    font-size: 20px;
    height: 80px;
    margin: 0;
  }

  .margin {
    margin-top: 18px;
  }

  .recipes {
    width: 85%;
  }

  .imageFood {
    width: 350px;
  }

  .discounts-block {
    display: flex;
    flex-direction: column;
  }

  .discounts-text {
    margin-left: 0;
    width: 350px;
  }

  .discounts-header {
    font-size: 28px;
    text-align: center;
  }

}